{{>licenseInfo}}

module Api.Request.{{classname}} exposing
{{#operations}}{{#operation}}    {{#-first}}( {{/-first}}{{^-first}}, {{/-first}}{{operationId}}{{#allParams}}{{#isEnum}}, {{enumName}}(..), {{#lambda.camelcase}}{{enumName}}{{/lambda.camelcase}}Variants{{/isEnum}}{{/allParams}}
{{/operation}}{{/operations}}    )

import Api
import Api.Data{{#includeTime}}
import Api.Time exposing (Posix){{/includeTime}}
import Dict
import Http
import Json.Decode
import Json.Encode{{#includeUuid}}
import Uuid exposing (Uuid){{/includeUuid}}
{{#operations}}
{{#operation}}
{{#allParams}}
{{#isEnum}}


{{>customType}}


{{>customTypeToString}}
{{/isEnum}}
{{/allParams}}
{{/operation}}
{{/operations}}
{{#operations}}{{#operation}}

{{#notes}}
{-| {{{notes}}}
-}
{{/notes}}
{{#lambda.removeWhitespace}}
{{operationId}} : {{#allParams}}
    {{^required}}Maybe {{/required}} {{!-- If not required, would want to put all these in a single object later }}
    {{#isArray}}{{^required}}( {{/required}}List {{/isArray}}
    {{datatypeWithEnum}}{{^datatypeWithEnum}}
    {{#isModel}}Api.Data.{{dataType}}{{/isModel}} {{!-- If it's a model directly }}
    {{#items.isModel}}Api.Data.{{dataType}}{{/items.isModel}} {{!-- If the list item is a model directly. TODO: Add recursive nesting here! }}
    {{^isModel}}{{^items.isModel}}{{dataType}}{{/items.isModel}}{{/isModel}}
    {{/datatypeWithEnum}}
    {{#isArray}}
        {{^required}}){{/required}} {{!-- Add ending nested around Maybe (List String), for example }}
    {{/isArray}} -> {{/allParams}}
    {{#authMethods}}{{#isBasicBearer}}String -> {{/isBasicBearer}}{{/authMethods}}Api.Request
    {{#responses}} {{!-- This iterates through all different responses, some might not be 200 }}
        {{#is2xx}}
            {{^dataType}}(){{/dataType}} {{!-- If no return type, set return type as unit }}
            {{#isMap}}(Dict.Dict String {{/isMap}}
            {{#isArray}}
                (List {{#items}}{{#isModel}}Api.Data.{{/isModel}}{{/items}} {{!-- Api.Data is repeated here and down below }}
            {{/isArray}}
            {{^isArray}}{{^primitiveType}}{{^isUuid}}Api.Data.{{/isUuid}}{{/primitiveType}}{{/isArray}}{{dataType}}
            {{#isArray}}){{/isArray}} {{!-- Need to close nesting, might be better to make a handlebars helper for nested types }}
            {{#isMap}}){{/isMap}}
        {{/is2xx}}
        {{#-first}}{{^is2xx}}(){{/is2xx}}{{/-first}}
    {{/responses}}
{{/lambda.removeWhitespace}}

{{operationId}}{{#allParams}} {{>paramName}}{{/allParams}}{{#authMethods}}{{#isBasicBearer}} auth_token{{/isBasicBearer}}{{/authMethods}} =
    Api.request
        "{{httpMethod}}"
        "{{path}}"
        [{{#pathParams}} ( "{{paramName}}", {{>paramToString}} {{>paramName}} ){{#-last}} {{/-last}}{{^-last}},{{/-last}}{{/pathParams}}]
        [{{#queryParams}} ( "{{baseName}}", {{#required}}Just <| {{/required}}{{^required}}Maybe.map {{/required}}{{>paramToString}} {{>paramName}} ){{#-last}} {{/-last}}{{^-last}},{{/-last}}{{/queryParams}}]
        [{{#headerParams}} ( "{{baseName}}", {{#required}}Just <| {{/required}}{{^required}}Maybe.map {{/required}}{{>paramToString}} {{>paramName}} ){{#-last}} {{/-last}}{{^-last}},{{/-last}}{{/headerParams}}]
        {{#bodyParam}}({{#required}}Just ({{/required}}{{^required}}Maybe.map {{/required}}{{#isModel}}Api.Data.{{/isModel}}{{>recordFieldValueEncoder}} {{>paramName}}{{#required}}){{/required}}){{/bodyParam}}{{^bodyParam}}Nothing{{/bodyParam}}
        {{#responses}}{{#-first}}{{#is2xx}}{{^dataType}}(Json.Decode.succeed ()){{/dataType}}{{#dataType}}{{>recordFieldValueDecoder}}{{/dataType}}{{/is2xx}}{{^is2xx}}(Json.Decode.succeed ()){{/is2xx}}{{/-first}}{{/responses}}
        {{^responses}}(Json.Decode.succeed ()){{/responses}}
        {{#authMethods}}{{#isBasicBearer}}|> Api.withBearerToken auth_token{{/isBasicBearer}}{{/authMethods}}
{{/operation}}{{/operations}}